IS 362 -- Project 3
==================

Author - Ranil Rai
------------------

Project Overview
----------------

This project involves reading information from a SQL database into a pandas DataFrame. The task is to create a DataFrame that displays Customers' Last Name and First Name, and each customer's purchased Track names and Album Titles. The information is sorted by Customer LastName then Customer FirstName.

Step 1: Importing Libraries
---------------------------

We start by importing the necessary Python libraries: `sqlite3` for connecting to our SQLite database, and `pandas` for working with dataframes.

In [1]:
import sqlite3
import pandas as pd

Step 2: Establishing Database Connection
----------------------------------------

Next, we establish a connection to the Chinook database. Ensure the database file path is correctly specified.

In [3]:
# Path to our actual Chinook SQLite database file
db_file = "C:\\Users\\Asus\\Desktop\\chinook-database-master\\ChinookDatabase\\DataSources\\Chinook_Sqlite.sqlite"

# Connecting to the SQLite database
conn = sqlite3.connect(db_file)

Step 3: Writing the SQL Query
-----------------------------

We write an SQL query that joins multiple tables: `Customer`, `Invoice`, `InvoiceLine`, `Track`, and `Album`. The goal is to select the relevant columns and sort the output.

In [4]:
# Defining the SQL query
query = """
SELECT 
    Customer.LastName, 
    Customer.FirstName, 
    Track.Name AS TrackName, 
    Album.Title AS AlbumTitle
FROM 
    Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Album ON Track.AlbumId = Album.AlbumId
ORDER BY 
    Customer.LastName, 
    Customer.FirstName;
"""

Step 4: Executing the Query and Creating the DataFrame
------------------------------------------------------

We execute the SQL query and store the result in a pandas DataFrame. Then, we display the first five rows to ensure it's correct.

In [5]:
# Executing the query and creating the DataFrame
df = pd.read_sql_query(query, conn)

# Displaying the first few rows of the DataFrame
print(df.head())

  LastName FirstName                                          TrackName  \
0  Almeida   Roberto                            Right Next Door to Hell
1  Almeida   Roberto                                     In The Evening
2  Almeida   Roberto                                   Fool In The Rain
3  Almeida   Roberto  Saudade Dos Aviões Da Panair (Conversando No Bar)
4  Almeida   Roberto                             Caso Você Queira Saber

                AlbumTitle
0      Use Your Illusion I
1  In Through The Out Door
2  In Through The Out Door
3                    Minas
4                    Minas

Conclusion
----------

This project successfully demonstrates the process of extracting and combining data from multiple SQL tables into a structured pandas DataFrame. By joining the `Customer`, `Invoice`, `InvoiceLine`, `Track`, and `Album` tables from the Chinook database, we obtained a clear view of customers' purchasing habits, including the specific tracks and albums they purchased. This data could be utilized for further analysis on customer behavior, sales trends, and music popularity.

* * * * *

References
----------

The SQL database operations in this project are based on the Chinook database, which is a well-designed sample database suitable for practicing SQL and database concepts. More details and the database itself can be found at the following sources:

-   Chinook Database on GitHub: [Chinook Database](https://github.com/lerocha/chinook-database)
-   Original Chinook Database Project: Chinook Database Codeplex Archive

This project also utilized the following Python libraries:

-   pandas: pandas documentation
-   sqlite3: [sqlite3 documentation](https://docs.python.org/3/library/sqlite3.html)